@import url("https://fonts.googleapis.com/css?family=Gamja+Flower");

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar li a {
  color: black !important;
}
.navbar li a:hover {
  color: orangered !important;
}
.carousel-inner img {
  width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
}
.color-circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.required {
  visibility: visible;
}
.form-border-checkout {
  border: 1px solid #e5e5e5;
  padding: 30px;
  border-radius: 0;
}
.form-checkout {
  flex: none;
  max-width: none;
}
.hover-recruiment:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.nav-link.hover-recruiment path {
  color: #0084ff;
}
.messenger-icon:hover {
  animation: shake 1s infinite;
  color: #0084ff; /* Màu xanh giống Messenger */
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Vị trí của tooltip phía trên biểu tượng */
  left: 50%;
  margin-left: -60px; /* Điều chỉnh để căn giữa tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}
.required {
  margin-left: 2px;
  color: red;
  font-weight: 700;
  border: 0 !important;
  text-decoration: none !important;
}
.list-group-item {
  display: flex;
  align-items: center;
}
.carousel-caption h1 {
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 5px 5px 15px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  text-shadow: 2px 2px 10px #000;
}
.btn:hover {
  background-color: #007bff;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.gap-4 {
  gap: 4px;
}
.text-red {
  color: #bb0000;
  padding: 10px;
}
.t-r-0 {
  top: 0;
  right: 0;
}
.t-0 {
  top: 0;
}
.r-20 {
  right: 20px;
}
.input-search {
  padding: 0 40px 0 12px;
  width: 100%;
  text-transform: capitalize;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.italic {
  font-style: italic;
}
.p-0-12 {
  padding: 0 12px;
}
.head-1 {
  padding: 8px 117px !important;
}
.head-1 .location:after {
  content: "";
  position: absolute;
  top: 3px;
  right: 0;
  background-color: #000;
  height: 19px;
  width: 1px;
  display: block;
}
.mt-7 {
  margin-top: 7rem;
}
.font-size-base {
  font-size: var(--fontSize-base);
}
.font-size-small {
  font-size: 16px;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.sidebar-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
  /* left: 0;  */
  z-index: 1;
  height: 100%; /* Chiều cao bằng chiều cao của cửa sổ trình duyệt */
  overflow-y: auto; /* Để sidebar có thể cuộn nếu nội dung quá dài */
}
.height-100 {
  height: 100%;
}
.max-height {
  max-width: 200px; /* Giới hạn độ rộng tối đa */
  white-space: nowrap; /* Không cho phép xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản bị tràn */
  text-overflow: ellipsis;
}
.button-dathang {
  position: absolute;
  right: -593px;
  top: 393px;
}
.text-white {
  color: white;
}
.flex-right {
  flex-direction: row-reverse;
}
.text-product {
  color: #415a80 !important;
}
.product-detail-im {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.background-color-xam {
  background-color: #f0f0f0;
}
.padding-10px {
  padding: 10px !important;
}
.block {
  display: block !important;
}
.mb-head {
  margin-bottom: 30px !important;
}
.padding-40px {
  padding: 40px;
}
.flex-col-center-a {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.p-0 {
  padding: 0 !important;
  border-radius: 0 !important;
}
.welcome hr {
  border-top: 2px solid rgba(62, 44, 100, 0.6);
  width: 95%;
  margin-bottom: 2rem;
}
.price {
  padding-left: 150px;
}
.mt-800 {
  margin-top: 800px;
}
.z-100 {
  z-index: 100;
}
.justify-between {
  justify-content: space-between;
}
.p-30 {
  padding: 20px 30px;
}
.color-black {
  color: #000;
}
.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  right: 0;
  color: #fff;
  background: #ffffff;
  animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -webkit-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -moz-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  -o-animation: 0.9s ease 0s normal both 1 running fixedAnim;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-50 {
  gap: 50px;
}
.justify-center {
  justify-content: center;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  grid: "auto myArea search";
  grid-template-columns: 1fr 1fr 1fr;
}
.service-icone1cb6147-8987-4c43-b188-08186873ac00 {
  background-image: url(../images/header/image.png);
  background-repeat: no-repeat;
  object-fit: cover;
}
.product-list-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.product-list-container {
  overflow-x: hidden;
  display: flex;
  white-space: nowrap;
  flex-grow: 1;
}

.product-list {
  display: flex;
  gap: 1rem;
}

.product-list .col-md-4 {
  flex: 0 0 auto;
  width: 300px; /* Điều chỉnh kích thước sản phẩm */
}

.scroll-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;

  z-index: 1;
}
.pt-mt-0 {
  padding-top: 0 !important;
  margin-top: 0 !important;
}
.width-3 {
  width: calc(100% / 3) !important;
}
.scroll-button.left {
  left: 0;
  transform: translate(-150%, -50%);
}
.nav-item-list-group {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.nav-item-list-group.open {
  max-height: 500px; /* Tăng giá trị này nếu danh sách của bạn dài hơn */
}
.col-full {
  max-width: 100%;
}
.status-success {
  color: #28a745;
}

.scroll-button.right {
  transform: translate(150%, -50%);
  right: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-list {
  display: flex;
  gap: 1rem;
}
.gap-0 {
  gap: 0px !important;
}
.mini-card-product {
  padding: 15px;
  margin-bottom: 0px;
  background-color: #555555;
  /* border-radius: var(--border-radius); */
  color: #fff;
}
.padding-logo {
  padding: 30px !important;
}
.text-newproduct {
  color: #333333 !important;
  font-family: "Manrope", Sans-serif;
  font-size: 30px !important;
  font-weight: 700 !important;
  line-height: 30px !important;
}
.box-shadow-0 {
  box-shadow: none;
}
.product-list .col-md-4 {
  flex: 0 0 auto;
  width: 300px; /* hoặc tùy chỉnh kích thước */
}
.text-black {
  color: #000;
}
.w-full {
  width: 100%;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.row-50 {
  display: flex;
  gap: 20px;
}
.banner-1 {
  height: 200px;
  display: flex;
  align-items: center;
}
.wrap-input50 {
  position: relative;
  border-bottom: 2px solid #d9d9d9;
}
.over-hidden {
  overflow: hidden;
}
.justify-self-end {
  justify-self: flex-end;
}
.justify-self-center {
  justify-self: center;
}
.p-head {
  padding: 0 100px;
}
.header-service-icon {
  display: block !important;
  background-size: 30px;
  height: 35px;
  position: relative;
  width: 30px;
  margin-right: 10px;
  float: left;
  margin-top: 3px;
  background-repeat: no-repeat;
  background-position: 0 -65px;
}
@keyframes fixedAnim {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.card img {
  object-fit: cover;
  aspect-ratio: 4 / 3;
  width: 100%;
  padding: 0 !important;
}
.order-img img {
  width: 50px;
  height: 50px;
}

.fa-react {
  color: #81d8f7;
}
.fa-angular {
  color: rgb(177, 43, 55);
}
.fa-css3 {
  color: #d76537;
}
.fa-react,
.fa-angular,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.fun {
  width: 100%;
}
.social a {
  font-size: 3em; /*1em = 16px*/
  padding: 3rem; /*1rem = 1 "font-size" */
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
}
.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
}

.nav-item a {
  font-weight: bolder;
  font-size: 16px;
}
.title {
  font-weight: bolder;
}

.card-img-top img {
  width: 300px;
  height: 200px;
}
#scroll {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* .item-hover:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-out;
} */
.item-hover {
  position: relative;
}
.item-hover:hover .slide-up-item {
  bottom: 0;
  opacity: 1;
  z-index: 100;
}
.slide-up-item {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: bottom 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  padding: 10px;
  z-index: 10;
}
