@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 15px;
  }
}
.page-width-desktop {
  padding: 0 15px;
  margin: 0 auto;
}

.page-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.services-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  float: left;
  padding: 40px;
  border: 2px solid #ff871d;
}
.service {
  float: left;
  width: 25%;
  position: relative;
}
a {
  text-decoration: none;
  color: var(--color-base-text);
}
a {
  text-decoration: none !important;
}
.service.service-1 .service-icon {
  background-position: 0 -1px;
}
a:empty,
ul:empty,
dl:empty,
div:empty,
section:empty,
article:empty,
p:empty,
h1:empty,
h2:empty,
h3:empty,
h4:empty,
h5:empty,
h6:empty {
  display: none;
}
.service-icon4f6423f7-1b9f-4a87-9fc3-1a7324d4a8ea {
  background-image: url(//schuse-codezeel.myshopify.com/cdn/shop/files/service-1_56x.png?v=1671265766);
}
.service-icon7ac458e7-bb2e-4861-b37b-8b9a2ee36323 {
  background-image: url(//schuse-codezeel.myshopify.com/cdn/shop/files/service-2_56x.png?v=1671265766);
}
.service-icon01f1a810-c2f3-4c3e-8ed7-c87addab9f4c {
  background-image: url(//schuse-codezeel.myshopify.com/cdn/shop/files/service-3_56x.png?v=1671265766);
}
.service-icond4b5d00c-0683-4ab1-a24e-e74d4359317e {
  background-image: url(//schuse-codezeel.myshopify.com/cdn/shop/files/service-4_56x.png?v=1671265766);
}
.service-icon {
  display: block !important;
  height: 39px;
  width: 38px;
  float: left;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: 0 6px;
}
.service-description {
  float: left;
}
.service-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 16px;
  letter-spacing: 0.5px;
}
.service-subtitle {
  color: #666666;
  text-transform: capitalize;
  float: left;
  font-size: 14px;
  font-weight: 400;
}
.service.service-2 .service-icon {
  background-position: 0 -1px;
}
